@import url(https://fonts.googleapis.com/css?family=Lexend+Deca);
@import url(https://fonts.googleapis.com/css?family=Big+Shoulders+Display);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 95%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 30px 45px;
  color: white;
  font-family: "Lexend Deca";
}

.icons {
  width: 64px;
  height: 40px;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 40px;
  color: hsl(0, 0%, 95%);
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
}

.desc {
  margin-bottom: 100px;
  line-height: 30px;
  color: hsla(0, 0%, 100%, 0.75);
}

a:link {
  background-color: hsl(0, 0%, 95%);
  margin-right: 80px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  background-color: hsl(0, 0%, 95%, 0);
  color: white;
  border: solid white 2px;
  margin-right: 80px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

.learn-more-sedan {
  color: hsl(31, 77%, 52%);
}

.learn-more-suv {
  color: hsl(184, 100%, 22%);
}

.learn-more-luxury {
  color: hsl(179, 100%, 13%);
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 300px;
    grid-template-rows: repeat(3, 1fr);
    height: auto;
  }
  .sedans {
    border-radius: 10px 10px 0 0;
  }

  .luxury {
    border-radius: 0 0 10px 10px;
  }
}
